<div class="mx-auto" style="width: 300px;">
  <h4>My Favorites</h4>
</div>
<% favorites.contents.each do |pet_id| %>
  <%= pet = Pet.find(pet_id) %>
  <%= link_to "#{pet.name}", "/pets/#{pet_id}", method: :get %></h2>
  <%= image_tag(pet.image) %>
<% end %>
