<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
 box-sizing: border-box;
}
html {
  background: url(https://media.istockphoto.com/photos/kitten-and-dachshund-puppy-wrestle-outside-picture-id1174000357?b=1&k=6&m=1174000357&s=170667a&w=0&h=ekAEvVwWIO3bAqp1DzZquQxtmvh8-uqVPgmING9TmoE=) no-repeat center fixed;
  background-size: cover;
}

main {
 font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
 background-color: #;
 padding: 10px;
 text-align: center;
 font-size: 20px;
 color: white;
}

/* Create two columns/boxes that floats next to each other */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
</style>
</head>
<main>

  <header>
    <h1>Welcome to Adopt Don't Shop</h1></b>
    <h3>A Denver Based Pet Adoption Website</h3>
  </header>
<main>





</main>
</html>
