<h1>Welcome to Adopt Don't Shop</h1></b>
<h3>A Denver Based Pet Adoption Website</h1></b>
</b>
<%= link_to "All Pets", "/pets", method: :get %></b>
</b>
<%= link_to "All Shelters", "/shelters", method: :get %>
